<h1>resourse</h1>
 
<div class="articulos-container">
  <h2>Lista de Productos</h2>
  <table class="articulos-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Stock</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of resourse">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.categoria }}</td>
        <td>{{ producto.stock }}</td>
      </tr>
    </tbody>
  </table>
</div>
