<div class="table-container">
  <table class="product-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let producto of productos" 
        (click)="onRowClick(producto)"
        class="table-row"
        [class.selected]="false">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio | currency:'USD':'symbol':'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="productos.length === 0" class="no-data">
    <p>No hay productos disponibles</p>
  </div>
</div>